@media screen and (max-width: 650px) {
    .navlist{
        padding: 0px;
    }
}

@media screen and (max-width: 767px) {
    .navlist{
     font-size:100px;
     display:block;
    }

    .hello{
        text-align: center;
    }
    .contactimage{
        float:left;
        clear:none;
        padding-top:0;
    }

    #funSection{
        padding:10px;
    }
    .aboutme{
        padding-top:10px;
        padding-bottom:10px;
    }
    .headshot{
        padding-top:15px;
    }
}


@media (min-width:994px) {
    .contactimage{
        padding-top:20vh;;
    }
    .contact p{
        padding-top:20vh;
    }
}​

html { 
    scroll-behavior: smooth; 
  }

.header{
    font-size:xx-large;
    font-weight:bolder;
    height: 15vh;
    background:#D4D6CF;

}

#master{
    font-family: 'Oxygen', sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

.hyperlink{
    color: rgba(245, 245, 245, 0.753);
    text-decoration: none;
    font-weight:bold;
}

.hyperlink:hover{
    text-decoration: underline dotted whitesmoke;
    color:whitesmoke;
}

.navlist {
    color: rgba(245, 245, 245, 0.753);
    font-size:xx-large;
    padding-inline: 50px;
  }

  .hello{
      min-height: 105vh !important;
      align-items: center;
      background-color:#434E5C;
      font-size:x-large;
      color:rgba(245, 245, 245, 0.753);
      margin:0px;
  }


  .headshot{
      justify-content:flex-start;
      filter: grayscale(100%);
      opacity:0.9;
  }


  .lander{
      display:block;
      text-align: center;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./crater_lake.jpeg);
      height: 105vh;
      background-size:cover;
      float:left;
      clear:none;
  }

  .intro{
      color:whitesmoke;
      font-size: 10vh;
      font-weight:bolder;

      padding-bottom: 100px;
      padding-top:250px;
  }
  .top_pic{
      height: 5vh;
      background-size:cover;
      float:left;
      clear:none;
  }

  .big{
      font-size:50px;
      font-weight: bold;
  }


  
.contact{
    background-color:darkgray;
    align-items: center;
    height: 100vh;
    color:rgba(36, 37, 42, 1);
    margin:0;
}

.contact p{
    text-align:center;
}

.contactimage{
    filter: grayscale(100%);
    opacity:0.9;
    width:50vw;
    align-items:center;
}

.fa {
    font-size: 70px;
    width: 70px;
    text-decoration: none;
    border-radius:50%;
    padding:5px;
    background: whitesmoke;
    color: black;
  }

  .fa:hover {
    opacity: 0.7;
    text-decoration: none;
  }



  #funSection{
    background-color: #434E5C;
  }


  #back-to-top{
      display:none;
      position:fixed;
      bottom:20px;
      right: 30px;
      background-color: darkgrey;
      border-radius:25%;
      border:none;
  }

  #back-to-top:hover{
      background-color:whitesmoke;
  }

  .enlarged{
      font-size:xx-large;
      color:rgba(36, 37, 42, 1);
  }

  #foot{
      height:10vh;
      text-align:center;
      font-size:large;
      padding: 3vh;
      background-color:whitesmoke
  }

  a.fa.fa-github::before{
      font-size:40px;
      color:rgba(36, 37, 42, 1);
  }

  a.fa.fa-linkedin::before{
    font-size:40px;
    color: rgba(36, 37, 42, 1);
}